* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--color-text-link);
  text-decoration: inherit;
  width: min-content;
  border-bottom: 1px solid transparent;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: var(--color-text-link-hover);
  border-bottom: 1px solid var(--color-text-link-hover);
}

a > span{
  color: var(--color-text-secondary);
  font-size: smaller;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

button {
  background-color: var(--color-bg-btn-primary);
  color: var(--color-text-btn-primary);
}

.primary-button {
  border-radius: 22px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-bg-btn-primary);
  color: var(--color-text-btn-primary);
  cursor: pointer;
  transition: 0.4s;
}

.primary-button:hover {
  background-color: var(--color-text-primary);
  color: var(--color-text-btn-primary);
}

/* ------------------------My-Global-ones--------------------------- */

/* Menú hamburg */
.bars {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bars>.bar {
  width: 100%;
  height: 20%;
  border-radius: 4px;
}

.bars>.bar:nth-child(2) {
  background: var(--bar-2);
  margin: 4px 0;
}

.bars>.bar:first-child {
  background: var(--bar-1);
}

.bars>.bar:last-child {
  background: var(--bar-3);
}

/* Logo Título */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 0.6rem 0 0.4rem 0;
  border-bottom: 1px solid var(--c);
}

.logo-title {
  color: var(--color-text-primary);
  font-family: var(--logo-font);
  font-size: 28px;
}

.toggle-theme-btn {
  border-radius: 50%;
  background-color: transparent;
  color: var(--color-bg-btn-primary);
  border: none;
  cursor: pointer;
}

.toggle-theme-btn>i {
  font-size: 1.6rem;
  color: #ffff00;
  filter: drop-shadow(0 0 1px var(--color-bg-btn-primary));
  transition: 0.4s ease-in-out;
}

.toggle-theme-btn>i:hover {
  filter: drop-shadow(0 0 2px var(--color-bg-btn-primary));
}


/* ----------Responsive---------- */

@media (width > 992px) {

  /* Logo Título */
  header {
    width: 100%;
    padding: 0.6rem 0 0.4rem 0;
    border-bottom: 1px solid var(--c);
    justify-content: space-around;
  }
}