.login-title {
    margin-bottom: 1rem;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 80%;
    gap: 10px;
    margin: auto;
    user-select: none; 
}

.login-form input {
    padding: 1em 0.4em 0.8em;
    border: none;
    border-bottom: 2px solid var(--color-border);
    font-size: 20px;
    color: var(--color-text-secondary);
    transition: border 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px 20px 0 0;
    background-color: rgba(255, 0, 0, 0);
}

.login-form input:focus {
    border: none;
    outline: none;
    color: var(--color-text-secondary);
    border-bottom: 2px solid var(--color-border);
    background-color: rgba(255, 0, 0, 0);
}

.login-form>p {
    text-align: center;
}

.login-form .o {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
    color: #cfcfcf;
    font-weight: 600;
}

.login-form .o>div {
    background-color: #cfcfcf;
    width: 50%;
    height: 1px;
}

/* --------------Login-Icons--------------- */

.login-options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login-btn {
    background: var(--color-bg);
    color: var(--color-text-primary);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    transform: border 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.login-btn:first-child {
    background: var(--color-bg);
    color: var(--google);
    border: 5px solid;
    border-top-color: #ea4235;
    border-left-color: #fabd04;
    border-bottom-color: #35a852;
    border-right-color: #4385f7;
}

.login-btn:last-child {
    font-size: 2.8rem;
    color: #4385f7;
}

.login-btn:nth-child(2) {
    font-size: 3.3rem;
}

.login-btn:hover {
    animation: ico-rotate 0.6s backwards;
}

@keyframes ico-rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}


/* ----------Input-Validations------- */

.login-form input:invalid:not(:placeholder-shown),
.login-form input:valid:not(:placeholder-shown) {
    border-color: #ea4135b3;
}
.login-form input:valid:not(:placeholder-shown) {
    border-color: #35a852b3;
}
.login-form input:invalid:not(:placeholder-shown)+.password-alert {
    color: #ea4135b3;
}
.login-form input:valid:not(:placeholder-shown)+.password-alert {
    color: #35a852b3;
}
.login-form input:invalid~button[type="submit"],
.login-form .password-container > input:invalid~button[type="submit"]{
    opacity: .6;
    pointer-events: none;
    cursor: none;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password {
    flex: 1;
    margin-bottom: 3.3rem;
}

.password-alert {
    color: var(--color-text-secondary);
    position: absolute;
    bottom: 24px;
    font-size: 0.8rem;
    left: 0;
    transition: color 0.3s ease-in-out;
}

.toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    color: var(--color-text-secondary);
    font-size: 1.5rem;
    margin-bottom: 2.6rem;
}

.toggle-password:focus {
    outline: none;
}

/* ----------Responsive---------- */

@media (width > 768px) {
    .login-form {
        max-width: 600px;
    }
}
@media (width < 768px) and (height < 800px) {
    .login-title {
        font-size: 2rem;
        margin-bottom: 0.8rem;
    }
}

@media (width < 500px) and (height < 600px) {
    .toggle-password {
        right: 8px;
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }

    .login-title {
        font-size: 1.8rem;
        margin-bottom: 0.6rem;
    }

    .login-form input {
        padding: 0.6em 0 0.6em 0.2em;
        border: none;
        border-bottom: 2px solid var(--color-border);
        font-size: 14px;
    }

    .primary-button{
        padding: 0.5em 0;
        font-size: 0.8em;
    }

    .login-btn {
        width: 33px;
        height: 33px;
        font-size: 1.2rem;
    }

    .login-btn:first-child {
        border: 4px solid;
        border-top-color: #ea4235;
        border-left-color: #fabd04;
        border-bottom-color: #35a852;
        border-right-color: #4385f7;
    }
    
    .login-btn:last-child {
        font-size: 2rem;
        color: #4385f7;
    }
    
    .login-btn:nth-child(2) {
        font-size: 2.3rem;
    }
}